{% extends "base.html" %}

{% block title %}KM Tracker{% endblock %}
{% block heading %}KM Tracker{% endblock %}
{% block subtitle %}<p class="page-subtitle">Kario Mart game night tracker</p>{% endblock %}

{% block content %}
<div class="stack">
    {% if in_progress_cup %}
    <a class="btn btn-primary btn-block" href="{{ url_for('cup_session_race', cup_id=in_progress_cup.id) }}">Continue Cup</a>
    {% else %}
    <a class="btn btn-primary btn-block" href="{{ url_for('cup_session_new') }}">Begin New Cup</a>
    {% endif %}
</div>

<ul class="list mt-4">
    <li class="list-item list-item-link">
        <a href="{{ url_for('players') }}">
            <span class="list-content">
                <span class="list-title">Players</span>
            </span>
        </a>
    </li>
    <li class="list-item list-item-link">
        <a href="{{ url_for('cups') }}">
            <span class="list-content">
                <span class="list-title">Cups</span>
            </span>
        </a>
    </li>
</ul>
{% endblock %}
